# WARNING: This file is temporary.
# Permanent changes should be made to the
# lcs_em.cfg file in the specific driver directory.

# vi: set ai ts=4 sw=4 : -*-  tab-width:4  c-basic-offset:4   -*-
# vim: set comments= cinoptions=\:0,t0,+8,c4,C1 :
#****************************************************************************
# (C) Copyright 2019-2023 Lynx Software Technologies, Inc. All rights reserved.
#****************************************************************************

C:lcs_em: \
	:lem_open:lem_close:ionull_st:ionull_st: \
	:ionull:lem_ioctl:lem_install:lem_uninstall
D:Intel EEPro 1000 LCS Driver:lcsem_info0::
N:lcs_em0:0:0666
N:lcs_em1:1:0666

