# WARNING: This file is temporary.
# Permanent changes should be made to the
# spyker.cfg file in the specific driver directory.

# vi: set ai ts=4 sw=4 : -*-  tab-width:4  c-basic-offset:4   -*-
# vim: set comments= cinoptions=\:0,t0,+8,c4,C1 :
#****************************************************************************
# (C) Copyright 2014-2019 Lynx Software Technologies, Inc. All rights reserved.
# (C) Copyright 2007-2014 LynuxWorks, Inc. All rights reserved.
#
# $Date$
# $Revision$
# $URL$
#****************************************************************************

#****************************************************************************
# Description: The SpyKer device driver for the LynxOS-178 targets.
#
# Reproduction, adaptation, or translation is permitted for any user
# who has a valid license for any LynuxWorks CDK (CDT) product.
#
# THIS SOFTWARE IS PROVIDED AS IS WITH NO WARRANTIES OR CONDITIONS, EXPRESS,
# IMPLIED, STATUTORY, OR OTHERWISE, AND LYNUXWORKS SPECIFICALLY DISCLAIMS
# ANY IMPLIED WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT AND FITNESS
# FOR A PARTICULAR PURPOSE.
#****************************************************************************

#############################################################################
#
# LynxOS device/driver configuration table Format:
#
# C:driver-name:open:close:read:write:select:control:install:uninstall
# D:device-name:info-block-name:raw-partner-name
# N:node-name:minor-dev
# S:special-name:minor-dev
#
# Use "B" instead of "C" for block drivers.
#
#############################################################################

C:SpyKer driver:\
	:spyker_open:spyker_close:spyker_read:ionull_st::spyker_ioctl:\
	:spyker_install:ioerr
D:SpyKer device:spyker_info0::
N:spyker:0:0666
N:spyker1:1:0666

# End of file
