# WARNING: This file is temporary.
# Permanent changes should be made to the
# usb_xhci_x86.cfg file in the specific driver directory.

# vi: set ai ts=4 sw=4 : -*-  tab-width:4  c-basic-offset:4   -*-
# vim: set comments= cinoptions=\:0,t0,+8,c4,C1 :
#****************************************************************************
# (C) Copyright 2019 Lynx Software Technologies, Inc. All rights reserved.
#
# $Date$
# $Revision$
# $URL$
#****************************************************************************

#
#	USB XHCI PCI Controller
#
C:XHCI:::ionull_st:ionull_st:::xhci_install:ioerr
D:XHCI controller:::

