# WARNING: This file is temporary.
# Permanent changes should be made to the
# vmos.cfg file in the specific driver directory.

# vi: set ai ts=4 sw=4 : -*-  tab-width:4  c-basic-offset:4   -*-
# vim: set comments= cinoptions=\:0,t0,+8,c4,C1 :
#****************************************************************************
# (C) Copyright 2014-2023 Lynx Software Technologies, Inc. All rights reserved.
# (C) Copyright 2002-2014 LynuxWorks, Inc. All rights reserved.
#****************************************************************************

########################################################################
#
# INFORMATION SUBJECT TO EXPORT CONTROL LAWS
#
# Subject to local country rules and laws when applicable, you must
# comply with the following:
#
# 'These commodities, technology, or software were exported from the
# United States in accordance with the Export Administration
# Regulations.  Diversion contrary to U. S. law and other relevant
# export controls is prohibited.   They may not be re-exported to any
# of the following destinations without authorization; Cuba, Iran,
# Iraq, Libya, North Korea, Sudan or any other country to which
# shipment is prohibited; nor to end-use(r)s involved in chemical,
# biological, nuclear, or missile weapons activity.'
#
# COPYRIGHT NOTICE:
#   (C) Copyright 2000-2002 Rockwell Collins, Inc.  All rights reserved.
#
# FILE NAME:
#   vmos.cfg
#
# PURPOSE:
#   Defines the configuration file used to install the VMOS
#   device driver.
#
# NOTES:
#
# ABBREVIATIONS/ACRONYMS:
#
########################################################################

C:VMOS driver:::ioerr_st:ioerr_st:ioerr:vmos_ioctl::
D:VMOS device:::
N:vmos:0:0600

# End of file.
